:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    /* --foreground: #ededed; */
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  
  body * {
    visibility: hidden;
  }
  .print-area,
  .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto !important;
    max-height: none !important;
    overflow: visible !important;
    box-shadow: none !important;
    border: none !important;
  }

  .report-page {
    box-shadow: none !important;
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    visibility: visible !important;
  }

  .report-page * {
    visibility: visible !important;
  }

  .report-title {
    font-size: 11px !important;
  }

  .report-subtitle{
    font-size: 10px !important;
  }

  .report-text {
    font-size: 9px !important;
    margin-top: 9px !important;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
